# .NET
bin/
obj/
*.dll
*.exe
*.pdb
*.user
*.vscode/
.vscode/
.vs/
_UpgradeReport_Files/
Backup*/
[Tt]humbs.db
[Tt]est[Rr]esult*/
[Tt]est[Rr]esults*/
_ReSharper*/
*.ReSharper*/
*.dbmdl
[Tt]est[Dd]ata
[Tt]est[Aa]pprovals/
# Ignore appsettings files
appsettings.json
appsettings*.json

# Node.js
node_modules/

# React / Vite
/dist/
/public/
/.npm/
npm-debug.log*
yarn-error.log*
*.pnp.*

# Visual Studio Code
.vscode/
